In [1]:
'' and 'g'

''

In [2]:
' ' and 9

9

In [6]:
lt=[]
print(not lt)

True

In [11]:
not ''

True

In [13]:
l=[1,2]
print(not l)

False

In [2]:
5 & 6

4

In [4]:
True & True

True

In [5]:
5 | 6

7

In [14]:
3<<1

6

In [ ]:
a=5
b=5
print(a is b)
a==b

True

True

In [6]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print(a == b)  # ✅ True: contents are equal
print(a is b)  # ❌ False: different objects in memory

print(a is c)  # ✅ True: same object (c points to a)
print(a == c)  # ✅ True: contents are equal

True
False
True
True

In [7]:
'' in 'strggg'

True

In [7]:
print(False<True<2<3<4<5<10.5)

print('a'<'b'<'c'<'d'<'e'<'f'<'g')
print(10>5<31<211<1111)

True
True
True

In [14]:
a=b=c=2
d=e=f=3
print(a+b-c*d%2//2)

4

In [22]:
a=complex(input())
print(type(a))
print(a)

<class 'complex'>
(1+0j)

In [1]:
n=int(input())
org=n
lt=[]
while n!=0:
    rem=n%10
    lt.append(rem)
    n//=10

print(lt)
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
s=0
for x in lt:
    s+=factorial(x)
print(s)
if s==org:
    print("Strong Number")
else:
    print("Not a Strong Number")

[3]
6
Not a Strong Number

In [10]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:

for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [17]:
n=int(input())

for i in range(1,n):
    for k in range(n-i):
        print(" ",end="")
    for j in range(1,i+1):
        print("*",end="")
    print()

      *
     **
    ***
   ****
  *****
 ******

In [21]:
n=int(input())

for i in range(1,n+1):
    for k in range(n-i):
        print(" ",end="")
    for j in range(0,2*i-1):
        print("*",end="")

    print()

    *
   ***
  *****
 *******
*********

In [23]:
n=int(input())

for i in range(1,n):
    for k in range(n-i):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end="")
    print()

      1
     12
    123
   1234
  12345
 123456

In [24]:
n=int(input())

for i in range(1,n):
    for k in range(n-i):
        print(" ",end="")
    for j in range(1,i+1):
        print(i,end="")
    print()

      1
     22
    333
   4444
  55555
 666666

In [ ]:
n=int(input())

for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end="")
        
    print()

1234567
123456
12345
1234
123
12
1

In [1]:
s='pankaj'
print(s[2::2])

na

In [30]:
n=int(input())

for i in range(n,0,-1):
    for k in range(n-i):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end="")
    print()

1234567
 123456
  12345
   1234
    123
     12
      1

In [ ]:
n=int(input())

for i in range(1,n+1//2):
    for k in range(n-i):
        print(" ",end="") 
    for j in range(0,2*i-1):
        print("*",end="")
    print()

for i in range(n-2,0,-1):
    for k in range(n-i):
        print(" ",end="")
    for j in range(0,2*i-1):
        print("*",end=
              "")
    print()

   *
  ***
 *****
  ***
   *

In [ ]:
for x in range(1,11):
    print(x)
    if(x==9):
        break
else:
    print("else")

1
2
3
4
5
6
7
8
9

In [3]:
a='Hello world'
print(a.upper())

b='i am devang dhandhukiya'
print(b.title())
print(b.capitalize())

HELLO WORLD
I Am Devang Dhandhukiya
I am devang dhandhukiya

In [6]:
a='Hello, World!'
b=a.replace('H','J')
print(a,b, sep="\n")
print(a.split())

Hello, World!
Jello, World!
['Hello,', 'World!']

In [7]:
l=['h','e','l','o']
print(''.join(l))

helo

In [3]:
a='Hello World'
print(a.swapcase())

hELLO wORLD

In [8]:
def twice(o):
    for i in range(len(o)):
        o[i]=o[i]*2
l=[1,2,3,4,5]
s='hello'
t=(1, 2, 3, 4, 5)
st={1,2,3}
twice(l)
print(l)
twice(st)
print(st)

[2, 4, 6, 8, 10]

TypeError: 'set' object is not subscriptable

In [17]:
x=1
def f():
    # x=0
    xx=x+1
    print(xx)

# print(x)
f()

2

In [18]:
a=10
def fun():
    a=20
    print(a)
print(a)
fun()
print(a)

10
20
10

In [19]:
def f(a,b):
    return a+b,a-b
x,y=f(10,5)
print(x,y)

15 5

In [20]:
def swap(a,b):
    return b,a
x,y=swap(10,20)
print(x)
print(y)

20
10

In [23]:
def fun(a,b,c,d):
    print(a,b,c,d)
fun(1,2,3,4)
fun(1,2,3,d=4)
fun(1,2,d=4,c=3)

fun(1,2,b=2,d=3)

1 2 3 4
1 2 3 4
1 2 3 4

TypeError: fun() got multiple values for argument 'b'

In [26]:
def f(name='joe'):
    print(name)

f('pankaj')
f()
f(name='devang')

pankaj
joe
devang

In [2]:
def area(r,pi=3.14):
    return pi*r*r
print(area(10))
print(area(10,3))

314.0
300

In [8]:
def sum(*args):
    s=0
    for i in args:
        s+=i
    return s
print(sum(1,2,3,4,5))
print(sum(1,2,3,4,5,6,7,8,9,10,11,12))
print(sum(3))

15
78
3

In [9]:
def c(a,b,*c):
    print(a,b,c)
c(1,2,3,4,5)

1 2 (3, 4, 5)

In [28]:
def f(a=0,b,c):
    print(a,b,c)
# f(1,2,3)

SyntaxError: non-default argument follows default argument (395673362.py, line 1)

In [13]:
def c(*a,b,c):
    print(a,b,c)
c(1,c=4,b=5)
c(c=2,b=3)

(1,) 5 4
() 3 2

In [15]:
def f(a,*b):
    print(a,b)

f(1,2,3,4,5)
f(1)

1 (2, 3, 4, 5)
1 ()

In [16]:
def f(**kwargs):
    print(kwargs)
f(a=1,b=2,c=3)
f()

{'a': 1, 'b': 2, 'c': 3}
{}

In [18]:
def f(**A):
    for x,y in A.items():
        print(x,y)
f(a=1,b=2,c=3)

a 1
b 2
c 3

In [20]:
# --docstring in functions
def f(a,b):
    '''This function takes two arguments and returns their sum.'''
    return a+b
print(f.__doc__)
print(f(10,20))

This function takes two arguments and returns their sum.
30

In [21]:
def greet(name):
    """This function greets the per
    son by name."""
    print(f"Hello, {name}!")

In [4]:
a=(1,2,3)
b=(10,20,30)
c=(100,200,300)
x=tuple(a+b+c)
add=tuple(map(lambda l,m,n:l+m+n,a,b,c))
print(add)

(111, 222, 333)

In [ ]:
#reduce func with ambda func
from functools import reduce
def add(x, y):
    return x + y
lst = [1, 2, 3, 4, 5]
result = reduce(add, lst)
print(result)  # Output: 15

In [2]:
def f():
    print("function -1")
g=f
h=g
h()

function -1

In [ ]:
def f1():
    print('f1 started')
    f2()
    print('f1 ended')
def f2():
    print('f2 started')
    f3()
    print('f2 ended')
def f3():
    print('f3 started')
    f4()
    print('f3 ended')
def f4():
    print('f4 started')
    #f1()
    
    print('f4 ended')
f1()

f1 started
f2 started
f3 started
f4 started
f4 ended
f3 ended
f2 ended
f1 ended

In [9]:
#recursion tree undertable example
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)
def sum_of_digits(n):
    if n == 0:
        return 0
    else:
        return n % 10 + sum_of_digits(n // 10)
def power(base, exp):
    if exp == 0:
        return 1
    else:
        return base * power(base, exp - 1)
def gcd(a, b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)
def lcm(a, b):
    return (a * b) // gcd(a, b)
def reverse_string(s):
    if len(s) == 0:
        return ""
    else:
        return s[-1] + reverse_string(s[:-1])
def is_palindrome(s):
    if len(s) <= 1:
        return True
    else:
        return s[0] == s[-1] and is_palindrome(s[1:-1])
def count_vowels(s):
    vowels = "aeiouAEIOU"
    if len(s) == 0:
        return 0
    else:
        return (1 if s[0] in vowels else 0) + count_vowels(s[1:])
def binary_search(arr, target, low, high):  
    if low > high:
        return -1
    mid = (low + high) // 2
    if arr[mid] == target:
        return mid
    elif arr[mid] < target:
        return binary_search(arr, target, mid + 1, high)
    else:
        return binary_search(arr, target, low, mid - 1)
def merge_sort(arr):
    if len(arr) <= 1:
        return arr
    mid = len(arr) // 2
    left_half = merge_sort(arr[:mid])
    right_half = merge_sort(arr[mid:])
    return merge(left_half, right_half)
def merge(left, right): 
    result = []
    i = j = 0
    while i < len(left) and j < len(right):
        if left[i] < right[j]:
            result.append(left[i])
            i += 1
        else:
            result.append(right[j])
            j += 1
    result.extend(left[i:])
    result.extend(right[j:])
    return result

In [ ]:
#OOPs create a class
class Person:
   
    name
    age 

    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")

In [9]:
class Account:
    def __init__(self, balance):
        self.account_number = 123456789
        self.balance = balance
    def deposite(self, amount):
        self.balance+= amount
        print(f"Depositing {amount} to the account.")
    def withdraw(self, amount):
        self.balance -= amount
        print(f"Withdrawing {amount} from the account.")

a1=Account(700000)

a1.deposite(1000)

a1.withdraw(500)
print(a1.balance)

Depositing 1000 to the account.
Withdrawing 500 from the account.
700500

In [10]:
#local variable attributr
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")
p1 = Person("Alice", 30)
p1.greet()  # Output: Hello, my name is Alice and I am 30 years old.

Hello, my name is Alice and I am 30 years old.

In [1]:
class Person:
    def greet(self):
        message = "Hello!"  # local variable
        print(message)
# message is a local variable within the greet method
p2 = Person()
p2.greet()  # Output: Hello!
p2.message  # This will raise an AttributeError because message is not an attribute of the instance

Hello!

AttributeError: 'Person' object has no attribute 'message'

In [3]:
#instance variable v/s static variable


class Person:
    species='Human'
    def __init__(self,name):
        self.name=name
p1=Person('Alice')
p2=Person('Bob')
print(p1.name)  # Output: Alice
print(p2.name)  # Output: Bob
print(p1.species)  # Output: Human
print(p2.species)  # Output: Human
print(Person.species)  # Output: Human

Alice
Bob
Human
Human
Human

In [2]:
class Person:
    count = 0  # Class variable

    def __init__(self, name):
        self.name = name
        Person.count += 1  # Correct way to update class variable
        print(f"Person created: {self.name}. Total count: {Person.count}")

    def info(self):  # Instance method
        print(f"Name: {self.name}, count: {Person.count}")


# Creating instances
p1 = Person("Alice")
p2 = Person("Bob")

# Using instance method
p1.info()
p2.info()

Person created: Alice. Total count: 1
Person created: Bob. Total count: 2
Name: Alice, count: 2
Name: Bob, count: 2

In [3]:
#class method example
class Person:
    species = 'Human'  # Class variable

    def __init__(self, name):
        self.name = name

    @classmethod
    def get_species(cls):
        return cls.species  # Accessing class variable using cls
    
# Creating an instance
p1 = Person("Alice")
# Accessing class variable through class method
print(Person.get_species())  # Output: Human
# Accessing class variable through instance
print(p1.get_species())  # Output: Human

Human
Human

In [7]:
class Person:
    count = 0  # Class variable to count number of people

    def __init__(self, name, age):
        self.name = name      # Instance variable
        self.age = age
        Person.count += 1     # Updating class variable
     # Static Method
    @staticmethod
    def is_adult(age):
        return age >= 18
    # Instance Method
    def introduce(self):
        print(f"Hi, I'm {self.name} and I'm {self.age} years old.")
        if(Person.is_adult(self.age)):
            print("I am an adult.")

    # Class Method
    @classmethod
    def total_people(cls):
        print(f"Total people created: {cls.count}")

   
    

p1= Person("Alice", 30)
p2 = Person("Bob", 17)
p1.introduce()  # Output: Hi, I'm Alice and I'm 30 years old. I am an adult.
p2.introduce()  # Output: Hi, I'm Bob and I'm 17 years old.
Person.total_people()  # Output: Total people created: 2
print(Person.is_adult(20))  # Output: True
print(Person.is_adult(15))  # Output: False
# Using the class method to access class variable
print(f"Total people created: {Person.count}")  # Output: Total people created: 2

Hi, I'm Alice and I'm 30 years old.
I am an adult.
Hi, I'm Bob and I'm 17 years old.
Total people created: 2
True
False
Total people created: 2

In [2]:
#Instance ethod creating an attribute and then dictionary of that object 
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def fun(self):
        self.address="Chandani Chowk"
obj1=Person("Alice", 30)
obj1.fun()
print(obj1.__dict__)  # Output: {'name': 'Alice', 'age': 30, 'address': 'Chandani

obj1.address='Karol Baugh'
print(obj1.__dict__)  # Output: {'name': 'Alice', 'age': 30, 'address': 'Karol Baugh'}

{'name': 'Alice', 'age': 30, 'address': 'Chandani Chowk'}
{'name': 'Alice', 'age': 30, 'address': 'Karol Baugh'}

In [3]:
#public private protected attributes
class Person:
    def __init__(self, name, age):
        self.name = name          # Public attribute
        self._age = age          # Protected attribute
        self.__address = "Unknown"  # Private attribute

    def get_address(self):
        return self.__address  # Method to access private attribute

    def set_address(self, address):
        self.__address = address  # Method to modify private attribute
    def display_info(self):
        print(f"Name: {self.name}, Age: {self._age}, Address: {self.get_address()}")        
    

# Creating an instance of Person
p1 = Person("Alice", 30)
p1.display_info()  # Output: Name: Alice, Age: 30, Address: Unknown
p1.set_address("123 Main St")
p1.display_info()  # Output: Name: Alice, Age: 30, Address: 123 Main St
# Accessing public and protected attributes
print(p1.name)  # Output: Alice
print(p1._age)  # Output: 30 (Protected attribute, should be accessed with caution)
# Attempting to access private attribute directly (will raise an error) 
try:
    print(p1.__address)  # Raises AttributeError
except AttributeError as e:
    print(f"Error: {e}")
# Accessing private attribute using the getter method
print(p1.get_address())  # Output: 123 Main St

Name: Alice, Age: 30, Address: Unknown
Name: Alice, Age: 30, Address: 123 Main St
Alice
30
Error: 'Person' object has no attribute '__address'
123 Main St

In [20]:
# Base class with a protected attribute
class Person:
    def __init__(self, name, age):
        self.name = name
        self._age = age  # Protected attribute
    def display_info(self):
        print(f"Name: {self.name}, Age: {self._age}")  # _age accessed in subclas

# Subclass accessing the protected attribute
class Teacher(Person):
    def display_info(self):
        print(f"Name: {self.name}, Age: {self._age}")  # _age accessed in subclass

# Another unrelated class
class Animal:
    def __init__(self, species, owner: Person):
        self.species = species
        self.is_wild = True 
        self.owner = owner

    def show_owner_info(self):
        print(f"Owner Name: {self.owner.name}",end=' ')
        print(f"Owner Age: {self.owner._age}")  # ⚠️ Technically allowed, but discouraged
p=Person("Alice", 30)
t = Teacher("Bob", 40)

#print(p.age)  # Error: 'Person' object has no attribute 'age'
  
t.display_info()
a = Animal("Dog", t)

a.show_owner_info()  # Output: Owner Name: Alice, Owner Age (Protected): 30

print(p.__dict__)
p.age=70
print(p.age) 
print(p.__dict__) # Output: 70 (Protected attribute can be modified, but should be done cautiously)

t._age=50
print(t._age) 
p.display_info() # Output: 50 (Protected attribute can be modified, but should be done cautiously)
a.show_owner_info()  # Output: Owner Name: Alice, Owner Age (Protected): 30
t.display_info()

p._age=90
print(p.__dict__)

print('\n\n\n\n')
print(t.__dict__)
t.age=100
print(t.__dict__)  # Output: {'name': 'Bob', '_age': 100} (Protected attribute modified)

Name: Bob, Age: 40
Owner Name: Bob Owner Age: 40
{'name': 'Alice', '_age': 30}
70
{'name': 'Alice', '_age': 30, 'age': 70}
50
Name: Alice, Age: 30
Owner Name: Bob Owner Age: 50
Name: Bob, Age: 50
{'name': 'Alice', '_age': 90, 'age': 70}





{'name': 'Bob', '_age': 50}
{'name': 'Bob', '_age': 50, 'age': 100}

In [22]:
#protected method example
class Person:
    def __init__(self, name, age):
        self.name = name
        self._age = age  # Protected attribute

    def _display_info(self):  # Protected method
        print(f"Name: {self.name}, Age: {self._age}")
class Teacher(Person):
    def __init__(self, name, age, subject):
        super().__init__(name, age)
        self.subject = subject

    def display_teacher_info(self):
        self._display_info()  # Accessing protected method
        print(f"Subject: {self.subject}")
# Creating instances
p1 = Person("Alice", 30)
t1 = Teacher("Bob", 40, "Mathematics")      
p1._display_info()  # Output: Name: Alice, Age: 30 (Protected method accessed)
t1.display_teacher_info()  # Output: Name: Bob, Age: 40, Subject: Mathematics (Protected method accessed)
# Attempting to access protected method from outside the class (not recommended)
try:
    p1.display_info()  # This is allowed, but discouraged
except AttributeError as e:     
    print(f"Error: {e}")

Name: Alice, Age: 30
Name: Bob, Age: 40
Subject: Mathematics
Error: 'Person' object has no attribute 'display_info'

In [1]:
# private attribute and method example
class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age  # Private attribute

    def __display_info(self):  # Private method
        print(f"Name: {self.name}, Age: {self.__age}")

    def show_info(self):  # Public method to access private method
        self.__display_info()
# Creating an instance
p1 = Person("Alice", 30)
p1.show_info()  # Output: Name: Alice, Age: 30 (Private method accessed through public method)      
# Attempting to access private attribute directly (will raise an error)
try:
    print(p1.__age)  # Raises AttributeError
except AttributeError as e:
    print(f"Error: {e}")
# Accessing private attribute using name mangling
try:
    print(p1._Person__age)  # Output: 30 (Not recommended, but possible)
except AttributeError as e:
    print(f"Error: {e}")
# Attempting to access private method directly (will raise an error)    
try:
    p1.__display_info()  # Raises AttributeError
except AttributeError as e:
    print(f"Error: {e}")
# Accessing private method using name mangling
try:
    p1._Person__display_info()  # Output: Name: Alice, Age: 30 (Not recommended, but possible)
except AttributeError as e:
    print(f"Error: {e}")

Name: Alice, Age: 30
Error: 'Person' object has no attribute '__age'
30
Error: 'Person' object has no attribute '__display_info'
Name: Alice, Age: 30

In [5]:
# Inheritance example
class Animal:
    def __init__(self, species):
        self.species = species

    def make_sound(self):
        print(f"{self.species} makes a sound.")
class Dog(Animal):
    def __init__(self, name, age):
        super().__init__("Dog")
        self.name = name
        self.__age = age  # Private attribute

    def bark(self):
        print(f"{self.name} barks!")

    def show_info(self):  # Public method to access private attribute
        print(f"Name: {self.name}, Age: {self._Dog__age}")
# Creating an instance of Dog
d1 = Dog("Buddy", 5)            
d1.make_sound()  # Output: Dog makes a sound.
d1.bark()  # Output: Buddy barks!
d1.show_info()  # Output: Name: Buddy, Age: 5
# Attempting to access private attribute directly (will raise an error)

try:
    print(1,d1.__age)  # Raises AttributeError
except AttributeError as e:
    print(1,f"Error: {e}")
# Accessing private attribute using name mangling
try:
    print(2,d1._Dog__age)  # Output: 5 (Not recommended, but possible)
except AttributeError as e:
    print(2,f"Error: {e}")
# Attempting to access private method directly (will raise an error)    
try:
    print(3)
    d1.__display_info()  # Raises AttributeError
except AttributeError as e:
    print(3,f"Error: {e}")
# Accessing private method using name mangling
try:
    print(4)
    d1._Dog__show_info()  # Raises AttributeError
except AttributeError as e:
    print(4,f"Error: {e}")
# Accessing private method using public method
try:
    print(5)
    d1.show_info()  # Output: Name: Buddy, Age: 5 (Private method accessed through public method)
except AttributeError as e:
    print(5,f"Error: {e}")

Dog makes a sound.
Buddy barks!
Name: Buddy, Age: 5
1 Error: 'Dog' object has no attribute '__age'
2 5
3
3 Error: 'Dog' object has no attribute '__display_info'
4
4 Error: 'Dog' object has no attribute '_Dog__show_info'
5
Name: Buddy, Age: 5

In [ ]:
#operator overloading example
class Complex:
    def __init__(self,real,img):
        self.real=real
        self.img=img
    def __add__(self,other):
        return Complex(self.real + other.real, self.img + other.img)
    def __sub__(self,other):
        return Complex(self.real - other.real, self.img - other.img)
    def __mul__(self,other):    
        return Complex(self.real * other.real - self.img * other.img, 
                       self.real * other.img + self.img * other.real)
    def __truediv__(self,other):    
        denom = other.real**2 + other.img**2
        return Complex((self.real * other.real + self.img * other.img) / denom,
                       (self.img * other.real - self.real * other.img) / denom)
    def __str__(self): 
        return f"{self.real} + {self.img}i" if self.img >= 0 else f"{self.real} - {-self.img}i"
    def __repr__(self): 
        return f"Complex({self.real}, {self.img})"

c1=Complex(3, 4)
c2=Complex(1, 2)
print(c1 + c2)  # Output: 4 + 6i
print(c1 - c2)  # Output: 2 + 2i
print(c1 * c2)  # Output: -5 + 10i
print(c1 / c2)  # Output: 2.2 + 0.4i
print(c1)  # Output: 3 + 4i

4 + 6i
2 + 2i
-5 + 10i
2.2 - 0.4i
3 + 4i

In [ ]:
class Fraction:
    def __init__(self, numerator, denominator):
        self.numerator = numerator
        self.denominator = denominator

    def __add__(self, other):
        new_numerator = (self.numerator * other.denominator) + (other.numerator * self.denominator)
        new_denominator = self.denominator * other.denominator
        return Fraction(new_numerator, new_denominator)

    def __sub__(self, other):
        new_numerator = (self.numerator * other.denominator) - (other.numerator * self.denominator)
        new_denominator = self.denominator * other.denominator
        return Fraction(new_numerator, new_denominator)

    def __mul__(self, other):
        return Fraction(self.numerator * other.numerator, self.denominator * other.denominator)

    def __truediv__(self, other):
        return Fraction(self.numerator * other.denominator, self.denominator * other.numerator)

    def __str__(self):
        return f"{self.numerator}/{self.denominator}"
    def __repr__(self):
        return f"Fraction({self.numerator}, {self.denominator})"
f1 = Fraction(1, 2)
f2 = Fraction(3, 4)
print(f1 + f2)  # Output: 5/4
print(f1 - f2)  # Output: -1/4      
print(f1 * f2)  # Output: 3/8
print(f1 / f2)  # Output: 2/3
print(f1)  # Output: 1/2

10/8
-2/8
3/8
4/6
1/2

In [ ]:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def __sub__(self, other):
        return Vector(self.x - other.x, self.y - other.y)

    def __mul__(self, scalar):
        return Vector(self.x * scalar, self.y * scalar)

    def __truediv__(self, scalar):
        return Vector(self.x / scalar, self.y / scalar)

    def __str__(self):
        return f"({self.x}, {self.y})"
    def __repr__(self):
        return f"Vector({self.x}, {self.y})"
v1 = Vector(3, 4)
v2 = Vector(1, 2)
print(v1 + v2)  # Output: (4, 6)    

print(v1 - v2)  # Output: (2, 2)
print(v1 * 2)  # Output: (6, 8)
print(v1 / 2)  # Output: (1.5, 2.0)

In [ ]:
class Matrix:
    def __init__(self, data):
        self.data = data

    def __add__(self, other):
        return Matrix([[self.data[i][j] + other.data[i][j] for j in range(len(self.data[0]))] for i in range(len(self.data))])

    def __sub__(self, other):
        return Matrix([[self.data[i][j] - other.data[i][j] for j in range(len(self.data[0]))] for i in range(len(self.data))])

    def __mul__(self, scalar):
        return Matrix([[self.data[i][j] * scalar for j in range(len(self.data[0]))] for i in range(len(self.data))])

    def __str__(self):
        return '\n'.join([' '.join(map(str, row)) for row in self.data])
    def __repr__(self):
        return f"Matrix({self.data})"
m1 = Matrix([[1, 2], [3, 4]])
m2 = Matrix([[5, 6], [7, 8]])
print(m1 + m2)  # Output: 6 8\n10 12
print(m1 - m2)  # Output: -4 -4\n-4 -4
print(m1 * 2)  # Output: 2 4\n6 8
print(m1)  # Output: 1 2\n3 4
# Using the __repr__ method
print(repr(m1))  # Output: Matrix([[1, 2], [3, 4]])

In [ ]:
#return object , object as a passing parameter
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def get_info(self):
        return f"Name: {self.name}, Age: {self.age}"

    @classmethod
    def from_string(cls, info_str):
        name, age = info_str.split(", ")
        return cls(name, int(age))

    @staticmethod
    def is_adult(age):
        return age >= 18
def create_person(info_str):
    return Person.from_string(info_str)  # Returning an object of Person class
def print_person_info(person):
    print(person.get_info())  # Using the object passed as a parameter




# Example usage
info_str = "Alice, 30"
p1 = create_person(info_str)  # Creating a Person object
print_person_info(p1)  # Output: Name: Alice, Age: 30
# Using the static method
print(Person.is_adult(p1.age))  # Output: True
# Using the class method to create another Person object
p2 = Person.from_string("Bob, 17")

In [ ]:
#return class object

#OBJECT AS A PARAMETER

In [4]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # Class method that accepts another Person object
    def compare_age(self, other_person : Person):
        if self.age > other_person.age:
            return f"{self.name} is older than {other_person.name}"
        elif self.age < other_person.age:
            return f"{other_person.name} is older than {self.name}"
        else:
            return f"{self.name} and {other_person.name} are of the same age"

    # Class method that returns a new Person object
    def clone(self):
        p= Person(self.name, self.age)
        return p


# Non-class function that accepts a Person object
def greet(person:Person):
    print(f"Hello, {person.name}! You are {person.age} years old.")

# Non-class function that returns a Person object
def create_person(name, age):
    temp_p=Person(name, age)
    return temp_p  


# Usage
p1 = Person("Alice", 30)
p2 = Person("Bob", 25)

# Passing object to class method
print(p1.compare_age(p2)) 

# Passing object to non-class function
greet(p1)  

# Returning object from class method
p3 = p1.clone()
print(f"Cloned Person: {p3.name}, {p3.age}")  

# Returning object from non-class function
p4 = create_person("Charlie", 40)
greet(p4)

NameError: name 'Person' is not defined

In [5]:
class Person:
    def __init__(self, name: str, age: int):
        self.name = name
        self.age = age

    # Class method that accepts another Person object
    def compare_age(self, other_person: 'Person') -> str:
        if self.age > other_person.age:
            return f"{self.name} is older than {other_person.name}"
        elif self.age < other_person.age:
            return f"{other_person.name} is older than {self.name}"
        else:
            return f"{self.name} and {other_person.name} are of the same age"

    # Class method that returns a new Person object
    def clone(self) -> 'Person':
        return Person(self.name, self.age)

    def __str__(self):
        return f"Person(name={self.name}, age={self.age})"


# Non-class function that accepts a Person object
def greet(person: Person) -> None:
    print(f"Hello, {person.name}! You are {person.age} years old.")

# Non-class function that returns a Person object
def create_person(name: str, age: int) -> Person:
    return Person(name, age)


# Usage
p1 = Person("Alice", 30)
p2 = Person("Bob", 25)

# Passing object to class method
print(p1.compare_age(p2)) 

# Passing object to non-class function
greet(p1)  

# Returning object from class method
p3 = p1.clone()
print(f"Cloned Person: {p3}")  

# Returning object from non-class function
p4 = create_person("Charlie", 40)
greet(p4)

Alice is older than Bob
Hello, Alice! You are 30 years old.
Cloned Person: Person(name=Alice, age=30)
Hello, Charlie! You are 40 years old.

In [7]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # Class method that accepts another Person object
    def compare_age(self, other_person : Person):
        if self.age > other_person.age:
            return f"{self.name} is older than {other_person.name}"
        elif self.age < other_person.age:
            return f"{other_person.name} is older than {self.name}"
        else:
            return f"{self.name} and {other_person.name} are of the same age"

    # Class method that returns a new Person object
    def clone(self,p:Person):
        p= Person(p.name, p.age)
        return p


# Non-class function that accepts a Person object
def greet(person:Person):
    print(f"Hello, {person.name}! You are {person.age} years old.")

# Non-class function that returns a Person object
def create_person(name, age):
    temp_p=Person(name, age)
    return temp_p

In [11]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # Class method that accepts another Person object
    def compare_age(self, other_person : Person):
        if self.age > other_person.age:
            return f"{self.name} is older than {other_person.name}"
        elif self.age < other_person.age:
            return f"{other_person.name} is older than {self.name}"
        else:
            return f"{self.name} and {other_person.name} are of the same age"

    # Class method that returns a new Person object
    def clone(p:Person):
        p= Person(p.name, p.age)
        return p


# Non-class function that accepts a Person object
def greet(person:Person):
    print(f"Hello, {person.name}! You are {person.age} years old.")

# Non-class function that returns a Person object
def create_person(name, age):
    temp_p=Person(name, age)
    return temp_p  



p=person('h',8)
d=p.clone()
print(d.name, d.age)  # Output: h 8

h 8

In [12]:
#constructor distructor example
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f"Person {self.name} created.")

    def __del__(self):
        print(f"Person {self.name} deleted.")
# Creating an instance of Person
p1 = Person("Alice", 30)  # Output: Person Alice created.
# Deleting the instance     
del p1  # Output: Person Alice deleted.
# Creating another instance of Person
p2 = Person("Bob", 25)  # Output: Person Bob created.
# Deleting the instance
del p2  # Output: Person Bob deleted.

Person Alice created.
Person Alice deleted.
Person Bob created.
Person Bob deleted.

In [7]:
# a very basic inheritance exmaple
class Animal:
    def __init__(self, species):
        self.species = species

    def make_sound(self):
        print(f"{self.species} makes a sound.")
class Dog(Animal):
    def __init__(self, name, age):
        super().__init__("Dog")  # Call the constructor of the base class
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} barks!")
    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}, Species: {self.species}")
# Creating an instance of Dog
d1 = Dog("Buddy", 5)    
d1.make_sound()  # Output: Dog makes a sound.
d1.bark()  # Output: Buddy barks!
d1.display_info()  # Output: Name: Buddy, Age: 5, Species: Dog


print(d1.__dict__)
a=Animal("Cat")
print(a.__dict__)  # Output: {'species': 'Cat'}

Dog makes a sound.
Buddy barks!
Name: Buddy, Age: 5, Species: Dog
{'species': 'Dog', 'name': 'Buddy', 'age': 5}
{'species': 'Cat'}

In [ ]:

class Animal:
    def __init__(self, species):
        self.species = species  # Public attribute
        self._age = 0           # Protected attribute
        self.__weight = 0       # Private attribute

    def make_sound(self):
        print(f"{self.species} makes a sound.")

    def set_weight(self, weight):
        self.__weight = weight  # Method to set private attribute

    def get_weight(self):
        return self.__weight  # Method to get private attribute
class Dog(Animal):
    def __init__(self, name, age):
        super().__init__("Dog")  # Call the constructor of the base class
        self.name = name         # Public attribute
        self._age = age          # Protected attribute

    def bark(self):
        print(f"{self.name} barks!")

    def display_info(self):
        print(f"Name: {self.name}, Age: {self._age}, Species: {self.species}, Weight: {self.get_weight()}")
# Creating an instance of Dog
d1 = Dog("Buddy", 5)
d1.make_sound()  # Output: Dog makes a sound.
d1.bark()  # Output: Buddy barks!
d1.set_weight(20)  # Setting private attribute using method
d1.display_info()  # Output: Name: Buddy, Age: 5, Species: Dog, Weight: 20
print(d1.__dict__)  # Output: {'name': 'Buddy', '_age': 5, 'species': 'Dog', '_Animal__weight': 20}
# Attempting to access private attribute directly (will raise an error) 
try:
    print(d1.__weight)  # Raises AttributeError
except AttributeError as e:
    print(f"Error: {e}")
# Accessing private attribute using name mangling   
try:
    print(d1._Animal__weight)  # Output: 20 (Not recommended, but possible)
except AttributeError as e:
    print(f"Error: {e}")
# Attempting to access protected attribute directly (should be avoided, but allowed)    
try:
    print(d1._age)  # Output: 5 (Protected attribute, should be accessed with caution)
except AttributeError as e:
    print(f"Error: {e}")
# Accessing public attribute directly
print(d1.species)  # Output: Dog (Public attribute can be accessed directly)    
# Example of a class with a constructor and destructor
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f"Person {self.name} created.")

    def __del__(self):
        print(f"Person {self.name} deleted.")
# Creating an instance of Person
p1 = Person("Alice", 30)  # Output: Person Alice created.
# Deleting the instance
del p1  # Output: Person Alice deleted. 
# Creating another instance of Person

Dog makes a sound.
Buddy barks!
Name: Buddy, Age: 5, Species: Dog, Weight: 20
{'species': 'Dog', '_age': 5, '_Animal__weight': 20, 'name': 'Buddy'}
Error: 'Dog' object has no attribute '__weight'
20
5
Dog
Person Alice created.
Person Alice deleted.

In [9]:
class Parent:
    def __init__(self):
        self.name = "Public Attribute"
    
    def display(self):
        print("Public Method")

class Child(Parent):
    def show(self):
        print(self.name)  # ✅ Accessible
        self.display()    # ✅ Accessible

In [10]:
class Parent:
    def __init__(self):
        self._age = 45  # Protected attribute
    
    def _protected_method(self):  # Protected method
        print("Protected Method")

class Child(Parent):
    def show(self):
        print(self._age)           # ✅ Accessible
        self._protected_method()   # ✅ Accessible

In [11]:
class Parent:
    def __init__(self):
        self.__salary = 50000  # Private attribute

    def __private_method(self):  # Private method
        print("Private Method")

class Child(Parent):
    def show(self):
        # print(self.__salary)           ❌ AttributeError
        # self.__private_method()        ❌ AttributeError

        # ✅ Correct (using name mangling)
        print(self._Parent__salary)
        self._Parent__private_method()

In [12]:
#Types of inheritance
#single inheritance
class Animal:
    def sound(self):
        print("Animal makes a sound")

class Dog(Animal):
    def bark(self):
        print("Dog barks")

d = Dog()
d.sound()  # Inherited from Animal
d.bark()

Animal makes a sound
Dog barks

In [13]:
#multiple inheritance

class Father:
    def skill(self):
        print("Gardening")

class Mother:
    def talent(self):
        print("Singing")

class Child(Father, Mother):
    pass

c = Child()
c.skill()
c.talent()

Gardening
Singing

In [ ]:
#Hierarchical inheritance
class Animal:
    def sound(self):
        print("Animal makes sound")

class Dog(Animal):
    def bark(self):
        print("Dog barks")

class Cat(Animal):
    def meow(self):
        print("Cat meows")

d = Dog()
c = Cat()
d.sound()
c.sound()

Animal makes sound
Animal makes sound

In [16]:

#Multilevel inheritance
class Grandparent:
    def legacy(self):
        print("Family legacy")

class Parent(Grandparent):
    def guidance(self):
        print("Parental guidance")

class Child(Parent):
    def play(self):
        print("Child plays")

c = Child()
c.legacy()
c.guidance()
c.play()

Family legacy
Parental guidance
Child plays

In [15]:
#Hybrid inheritance
class A:
    def method_a(self):
        print("A")

class B(A):
    def method_b(self):
        print("B")

class C(A):
    def method_c(self):
        print("C")

class D(B, C):
    def method_d(self):
        print("D")

d = D()
d.method_a()  # From class A

A

In [2]:
# Base class
class Vehicle:
    def start_engine(self):
        print("Starting the engine of the vehicle.")

    def fuel_type(self):
        print("This vehicle uses fuel.")


# Subclass: Car
class Car(Vehicle):
    def start_engine(self):
        # Overriding the method from Vehicle
        print("Turning on the car engine with a key or button.")

    def fuel_type(self):
        # Overriding again
        print("This car uses petrol or diesel.")


# Subclass: ElectricCar
class ElectricCar(Car):
    def start_engine(self):
        # Overriding the method from Car
        print("Powering up the electric motor silently.")

    def fuel_type(self):
        print("This car runs on electricity, not fuel.")


#creating instances
v=Vehicle()
c=Car()
e=ElectricCar()
e.start_engine()

Powering up the electric motor silently.

In [3]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag

    def __add__(self, other):
        return Complex(self.real + other.real, self.imag + other.imag)

    def __sub__(self, other):
        return Complex(self.real - other.real, self.imag - other.imag)

    def __mul__(self, other):
        return Complex(self.real * other.real - self.imag * other.imag,
                       self.real * other.imag + self.imag * other.real)

    def __truediv__(self, other):
        denom = other.real ** 2 + other.imag ** 2
        return Complex((self.real * other.real + self.imag * other.imag) / denom,
                       (self.imag * other.real - self.real * other.imag) / denom)

    def __str__(self):
        return f"{self.real} + {self.imag}i" if self.imag >= 0 else f"{self.real} - {-self.imag}i"

    def __repr__(self):
        return f"Complex({self.real}, {self.imag})"

c1 = Complex(3, 4)
c2 = Complex(1, 2)
print(c1 + c2)  # Output: 4 + 6i
print(c1 - c2)  # Output: 2 + 2i
print(c1 * c2)  # Output: -5 + 10i
print(c1 / c2)  # Output: 2.2 + 0.4i
print(c1)       # Output: 3 + 4i

4 + 6i
2 + 2i
-5 + 10i
2.2 - 0.4i
3 + 4i

In [ ]:
from abc import ABC, abstractmethod

class Base(ABC):
    @abstractmethod
    def __private_method(self):
        pass

class Derived(Base):
    # Name mangling for private method: _Base__private_method
    def __private_method(self):
        print("Overridden private abstract method in Derived")

# Instantiate and call the method
d = Derived()
# d._Base__private_method()  # Output: Overridden private abstract method in Derived


d._Base__private_method()

TypeError: Can't instantiate abstract class Derived with abstract method _Base__private_method

In [11]:
from abc import ABC, abstractmethod
class Vehicle(ABC):
    @abstractmethod
    def start_engine(self):
        pass

class two_wheeler(Vehicle):
    # @abstractmethod
    # def start_engine(self):
    #     pass
    @abstractmethod
    def kick_start(self):
        pass

class four_wheeler(Vehicle):
    # @abstractmethod
    # def start_engine(self):
    #     pass
    @abstractmethod
    def auto_start(self):
        pass

class Hero(two_wheeler):
    def start_engine(self):
        print('Hero 2 wheeeler Engine Started')  
    def kick_start(self):
        print('Kicking...')

class Ferrari(four_wheeler):
    def start_engine(self):
        print('Ferrari 4 wheeler Engine Started')
    def auto_start(self):
        print('Press Start engine Button')

h=Hero()
h.kick_start()
h.start_engine()

f=Ferrari()
f.auto_start()
f.start_engine()

Kicking...
Hero 2 wheeeler Engine Started
Press Start engine Button
Ferrari 4 wheeler Engine Started

In [12]:
#EXCEPTION handling
try:
    # Code that might raise an exception
    result = 10 / 0
except ZeroDivisionError:
    # Code that runs if a ZeroDivisionError occurs
    print("You can't divide by zero!")
else:
    # Code that runs if no exception occurs
    print("Division successful:", result)
finally:
    # Code that always runs, regardless of an exception
    print("Execution complete.")

You can't divide by zero!
Execution complete.

In [13]:
try:
    x = int("abc")
except ValueError:
    print("Invalid input. Could not convert to integer.")
except ZeroDivisionError:
    print("Division by zero error.")

Invalid input. Could not convert to integer.

In [14]:
try:
    risky_operation()
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: name 'risky_operation' is not defined

In [15]:
x = -5
if x < 0:
    raise ValueError("Negative value is not allowed")

ValueError: Negative value is not allowed

In [ ]:
class CustomError(Exception):
    pass


try:
    raise CustomError("This is a custom error")
except CustomError as e:
    print(e)

This is a custom error

<h1>Build-In Data syructures<h1>

<h1>List<h1>

In [17]:
#creating list
l1=list()
l2=[]
print(type(l1),type(l2))

<class 'list'> <class 'list'>

In [20]:
#creating non-empty list
l3=[1,2,3]
l4=list([1,2,3])
print(l3,l4)

[1, 2, 3] [1, 2, 3]

In [1]:
#accessing elements
l=[1,2,3,5.6,'Abc',True,[1,2,3],(1,2),range(5)]
print(l[3])
l[4]='Xyz'
print(l[4])

5.6
Xyz

In [2]:
a="hello"
print(type(a.split()))

<class 'list'>

In [2]:
l=eval(input('Enter list'))
print(l)

f

In [4]:
l=[i for i in range(8)]
l

[0, 1, 2, 3, 4, 5, 6, 7]

In [20]:

#adding elemnets in list

l=[1,2,3]
l.append(7)
print(l)
l.extend([4,5,6])
print(l)
l.insert(-1,True)
print(l)

[1, 2, 3, 7]
[1, 2, 3, 7, 4, 5, 6]
[1, 2, 3, 7, 4, 5, True, 6]

In [23]:
#accessing the element
l=[i for i in range(1,11,2)]
print(l)
print(l[-1],l[1],l[-1],l[1:4])

[1, 3, 5, 7, 9]
9 3 9 [3, 5, 7]

In [25]:
#nested list accessing
l=[1,2,3,[4,5,6]]
print(l[3])

[4, 5, 6]

In [26]:
#list sclicing
l=[1,2,3,True,4.5,6.7,'Abc']
print(l[1:3])
print(l[:3])
print(l[1:])
print(l[::-1])

[2, 3]
[1, 2, 3]
[2, 3, True, 4.5, 6.7, 'Abc']
['Abc', 6.7, 4.5, True, 3, 2, 1]

In [27]:
#changing list items
l=[1,2,True,'Ab',4.5]
print(l)
l[0]=5
l[1]=55
l[1:3]=[100,200]
l[3]=['a','b','c']

print(l)

[1, 2, True, 'Ab', 4.5]
[5, 100, 200, ['a', 'b', 'c'], 4.5]

In [28]:
l=[1,2,3,4]
l[1:2]=[100,200]
l[2:3]=[True,False]
l

[1, 100, True, False, 3, 4]

In [38]:
l=[1,2,[True,False],'Apple',('A',"B",'C'),[1,[1,2,3]]]
print(l)

print(l[0])

print(l[2],type(l[2]))
print(l[2][1])
print(l[4],type(l[4]))
print(l[4][-1])
print(l[-1][1])
print(l[-1][1][:2])

[1, 2, [True, False], 'Apple', ('A', 'B', 'C'), [1, [1, 2, 3]]]
1
[True, False] <class 'list'>
False
('A', 'B', 'C') <class 'tuple'>
C
[1, 2, 3]
[1, 2]

In [39]:
#add a lists items

lst = [1, 2, 3]
lst.append([4, 5])
print(lst)  # Output: [1, 2, 3, [4, 5]]

[1, 2, 3, [4, 5]]

In [42]:
lst = [1, 2, 3]
lst.insert(3,[4,5])  # index 1
print(lst)  # Output: [1, 99, 2, 3]

[1, 2, 3, [4, 5]]

In [41]:
lst = [1, 2, 3]
lst.extend([4, 5])
print(lst)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [55]:
l=[1,2,'']
di={111:'a',222:'b'}
l.extend(('a','b','c'))
l.extend({1,2,3,4})
l.extend(range(1,10,2))
l.extend(di)
l

[1, 2, '', 'a', 'b', 'c', 1, 2, 3, 4, 1, 3, 5, 7, 9, 111, 222]

In [ ]:
l=[1,2,3,4,5,6]
l.insert()

In [56]:
#remove elemnets from list
l=[1,2,True,"apple",7.8]
l.remove(1)
print(l)
l.remove("apple")
print(l)

[2, True, 'apple', 7.8]
[2, True, 7.8]

In [59]:
l=[1,2,3]
print(l.pop())
print(l)

3
[1, 2]

In [4]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [5]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [7]:
l=[x for x in 'Hello']
l

['H', 'e', 'l', 'l', 'o']

In [8]:
l=[x for x in range(9)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
fruits=['aaple','banana','cherry','kiwi']
l=[x for x in fruits if 'a' in x else "Hello"]#x.upper())
l

SyntaxError: invalid syntax (1902170827.py, line 2)

In [13]:
l=[1,2,3]
l2=l.copy()
print(id(l),id(l2))

4425000256 4425001152

In [14]:
l=[1,2,3,4]
l2=l[:]
print(id(l),id(l2))

4424905664 4425031360

In [15]:
l1=[1,2]
l2=[3,4]
l1.extend(l2)
l1

[1, 2, 3, 4]

In [19]:
l1=[1,2,3]
l2=[5,6,7,8]
l3=[1,2,3,4,5,6,7,8,9,0]
l4=[True,]
l1+l2+l3+l4

[1, 2, 3, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, True]

In [29]:
l1=[4,6,5,7,1,2,3,]
l2=[True,False]
len(l1)

l3=['x','y','a','A','b','d','x']

l1.sort()
print(l1)
l2.sort()
print(l2)
l3.sort()
print(l3)

[1, 2, 3, 4, 5, 6, 7]
[False, True]
['A', 'a', 'b', 'd', 'x', 'x', 'y']

In [ ]:
l1=[4,6,5,7,1,2,3,1,1,1,1,1]
l2=[True,False]
l1.sort()
l1.reverse()
print(l1)

l1.count(1)

[7, 6, 5, 4, 3, 2, 1, 1, 1, 1, 1, 1]
6

In [41]:
l1=[1,2,3,1,2,3,1,2,1,True,False]
print(l1.index('Falsel'))

ValueError: 'Falsel' is not in list

In [43]:
l1=[1,2,3,1,2,6,3,1,2,1,True,False]
print(l1.index(6))

5

In [48]:
lt=[1,2,1,2,1,2]
print(lt.index(2,2))

3

In [51]:
l=[3,0,1,9,-2,-5,'a','b']
l.sort()
print(l)

TypeError: '<' not supported between instances of 'str' and 'int'

In [52]:
l=[False,True,False,False,True]
l.sort()
print(l)

[False, False, False, True, True]

In [54]:
l=[1,2,3,4,8,9,8,7,6,1,2,3]
l.sort(reverse=True)
l

[9, 8, 8, 7, 6, 4, 3, 3, 2, 2, 1, 1]

In [55]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [57]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [60]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = len, reverse=True)
print(thislist)

['banana', 'Orange', 'cherry', 'Kiwi']

In [62]:
lt=[1,2,1,2,1,2,3,4,5,5,6,6,7]
lt.count(1)

3

In [69]:
lt=[1,2,1,0,0,True,2,1,2,3,4,5,5,6,6,7]
lt.index(True,3)

5

In [70]:
lt=[1,2,1,False]
print(lt.index(0))

3

In [ ]:
#comapring list
l1=[1,2,3]
l2=[1,2,3]
l3=[1,2,4]
l4=[1,]

print(l1<l3)

True

In [11]:
a=['a','b']
b=['a','c']
a>b

False

In [12]:
# Input dimensions
m = int(input("Enter number of rows (m): "))
n = int(input("Enter number of columns (n): "))

# Input m*n elements in a single line
elements = input(f"Enter {m*n} space-separated strings: ").split()

# Validate input length
if len(elements) != m * n:
    print("Error: Number of elements doesn't match m*n")
else:
    # Convert to 2D list
    matrix = [elements[i * n : (i + 1) * n] for i in range(m)]

    # Print the 2D list
    print("2D List:")
    for row in matrix:
        print(row)

2D List:
['1', '2', '3', '4']
['5', '6', '7', '8']
['9', '11', '22', '33']

In [7]:
t1=tuple([1,2,3])
t2=tuple(range(7))
t3=tuple('Hello')
t4=tuple({1,2,2,3})
t5=tuple({1:'a',2:'b'})
t6=tuple('hello'.split())

print(t1,t2,t3,t4,t5,t6,sep='\n')

(1, 2, 3)
(0, 1, 2, 3, 4, 5, 6)
('H', 'e', 'l', 'l', 'o')
(1, 2, 3)
(1, 2)
('hello',)

In [14]:
m, n = map(int, input("Enter m and n: ").split())
data = input("Enter elements: ").split()

matrix = [data[i:i+n] for i in range(0, len(data), n)]


print("2D List:")
for row in matrix:
    print(row)
print(matrix)

2D List:
['1', '2', '3']
['4', '5', '6']
[['1', '2', '3'], ['4', '5', '6']]

<h1><b><i><u>TUPLE

In [10]:
tup=(1,2,3,4,5)
print(tup[-1])
print(tup[-1:-3:-1])

5
(5, 4)

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [2]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [3]:
#count method
t=('aa[le]',1,2,3,1,2,3,1,2,1,0,9,8,7,6)
print(t.count(1))

4

In [5]:
t=(1,2,3,True,False,1,3)
print(t.count(True))

3

In [7]:
# t=('apple]',1,2,3,1,2,3,1,2,1,0,9,8,7,6)
t=(1,2,3,True,False,1,3)
print(t.index(0))

4

In [11]:
t = ('a', 'b', 'c', 'a', 'b')

v=t.index('a')            # 0
w=t.index('a', 1)         # 3  (search starts at index 1)
x=t.index('b', 1, 4)      # 1  (search between 1 and 3 inclusive)

try:
    t.index('z')            # ValueError: tuple.index(x): x not in tuple
except Exception as e:
    print(e)
print(v,w,x,sep="       ")

tuple.index(x): x not in tuple
0       3       1

In [12]:
students = [
    ("Alice", 80),
    ("Bob", 75),
    ("Charlie", 90),
    ("David", 60),
    ("Eve", 85)
]

# Step 1: Calculate average using unpacking
total_score = sum(score for _, score in students)
average = total_score / len(students)

print(f"Average score: {average:.1f}")
print("Students above average:")

# Step 2: Filter and print using unpacking
for name, score in students:
    if score > average:
        print(name)

Average score: 78.0
Students above average:
Alice
Charlie
Eve

In [16]:
students = [
    ("Alice", 80,5),
    ("Bob", 75,5),
    ("Charlie", 90,5),
    ("David", 60,5),
    ("Eve", 85,5)
]

# Step 1: Calculate average using unpacking
total_score = sum(score for _,x, score in students)
total_score

25

SET

In [17]:
s={1,2,3,3,4,4}
print(s)

{1, 2, 3, 4}

In [18]:
s={1,2,3,3,4,4,5}
len(s)

5

In [24]:
s1={1,2,3}
s2={3,3,3,4,5}
print(s1-s2)
print(s2-s1)
s1==s2

{1, 2}
{4, 5}

False

In [32]:
tup=(1,2,3,(True,"abcd"),"OK",(1,2,(7.7,8.8)))
print(tup)

print(tup[3])
print(tup[3][1])
print(tup[3][1:])
print(tup[4])
print(tup[5])
print(tup[5])
print(tup[5][2])
print(tup[5][2][1])

(1, 2, 3, (True, 'abcd'), 'OK', (1, 2, (7.7, 8.8)))
(True, 'abcd')
abcd
('abcd',)
OK
(1, 2, (7.7, 8.8))
(1, 2, (7.7, 8.8))
(7.7, 8.8)
8.8

In [4]:
#comparison of tuple
t1=(1,2)
t2=(1,4)
t1==t2
t1<t2
not(t1>t2)

True

<h1>SET</h1>

In [33]:
tup=('a','b','X','Y')
x=sorted(tup)
print(x,type(x),sep='\n')

['X', 'Y', 'a', 'b']
<class 'list'>

In [3]:
tup=(1,2,[1,2,3],{1,'',2,2,2},'ok')
print(tup)

tup[2][0]=999
print(tup)
print(tup[2])

(1, 2, [1, 2, 3], {'', 1, 2}, 'ok')
(1, 2, [999, 2, 3], {'', 1, 2}, 'ok')
[999, 2, 3]

In [11]:
#creating set
s={1,2,2,2,(1,2,2,2)}
print(s)

try:
    s2={1,2,3,3,2,[1,2,3]}
except Exception as e:
    print(e)
else:
    print(s2)

s3={1,2,3,tuple(range(11))}
print(s3)

try:

    s4={1,2,3,set(range(11))}
except Exception as e:
    print(e)
else:
    print(s4)


s5=set([2,2,3,3,3,1,2,2,2,4,5,6,6,6,True,True,False,False])
print(s5)

{1, 2, (1, 2, 2, 2)}
unhashable type: 'list'
{1, 2, 3, (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)}
unhashable type: 'set'
{False, 1, 2, 3, 4, 5, 6}

In [12]:
#create empy set
s=set()
print(s,type(s),sep='    ')

set()    <class 'set'>

In [15]:
#compare sets
s1={1,2,2,2,3}
s2={2,1,3,2,2}
print(s1==s2)
print()
print(s1!=s2)

True

False

In [17]:
se=set()
print(se)
print(type(se))

set()
<class 'set'>

In [18]:
s={1,'',2,3}
print(s)

{'', 1, 2, 3}

In [19]:
s=set([1,2,2,3,'T','U'])
print(s)

{1, 2, 3, 'U', 'T'}

In [20]:
se={1}
print(type(se))

<class 'set'>

In [21]:
s1=set(dict({1:2,3:4}))
s1

{1, 3}

In [27]:
s1={3,2,2,1,3,True,False}
print(s1)
s2={3,0,2,1,0,True,False}
print(s2)
s3=set((True,0,False,1,2,2))
s3

{False, 1, 2, 3}
{0, 1, 2, 3}

{0, True, 2}

In [28]:
sx={1,2,2,{1,2}}

TypeError: unhashable type: 'set'

In [30]:
s=set((1,9,8,2,3,2,'OK'))
print(s)

{1, 2, 3, 8, 9, 'OK'}

In [31]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'cherry', 'banana', 'pineapple', 'mango', 'apple'}

In [32]:
s1 = {"apple", "banana", "cherry"}
s2 = {"pineapple", "mango", 'apple'}
s1.update(s2)
s1

{'apple', 'banana', 'cherry', 'mango', 'pineapple'}

In [33]:
se={1,2,2,3,4,4,4,4}
se.update(range(7))
se

{0, 1, 2, 3, 4, 5, 6}

In [34]:
s={1,2,2,2,2,3,3,4,5,7}
s.remove(200)

KeyError: 200

In [35]:
s={'apple','banana','chery'}
s.discard('mango')

In [3]:
s={1,2,2,3,3,3,True,'ok','archive','attention'}
print(s)
x=s.pop()
print(s)
print(x)
x=s.pop()
print(s)
x=s.pop()
print(s)
x=s.pop()
print(s)

{1, 2, 3, 'attention', 'ok', 'archive'}
{2, 3, 'attention', 'ok', 'archive'}
1
{3, 'attention', 'ok', 'archive'}
{'attention', 'ok', 'archive'}
{'ok', 'archive'}

In [4]:
s={'apple','banana','kiwi'}
x=s.pop()
print(s)
print(x)

{'banana', 'kiwi'}
apple

In [6]:
s1 = {"apple", "banana", "cherry"}
s2 = {"pineapple", "mango", 'apple'}
try:
    print(s1+s2)
except Exception as el:
    print(el)

unsupported operand type(s) for +: 'set' and 'set'

In [7]:
s={1,2,3}
d={4:5, 6:7}
x=s.union(d)
print(x)

{1, 2, 3, 4, 6}

In [ ]:
s={1,2,2,'True','False'}

In [10]:
a={1,2,3,4}
b=a
print(id(a)==id(b))

True

In [8]:
s={1,2,2,2,3,3,3,4,4,4,4,5}
print(id(s))
x=s.copy()
print(id(x))
print(x)
xx=x.pop()
print(x,xx,sep='        ')

4386937760
4393008032
{1, 2, 3, 4, 5}
{2, 3, 4, 5}        1

In [7]:
s1={False,1,2,3,True}
s2={1,2,0,2,3}
print(s1,s2)
print(s1==s2)
s3={True,1,2,3,4}
s4={1,2,3,4,5}
print(s3,s4)
s3==s4

{False, 1, 2, 3} {0, 1, 2, 3}
True
{True, 2, 3, 4} {1, 2, 3, 4, 5}

False

In [31]:
s1={1,2,3,4,5}
s2={1,2,3,}
s1>s2

True

In [37]:
# Define two sets
A = {1, 2}
B = {1, 2, 3}

# Perform all comparisons
print("Set A:", A)
print("Set B:", B)
print()

print("A == B :", A == B)   # Equality
print("A < B  :", A < B)    # Proper subset
print("A > B  :", A > B)    # Proper superset
print("A <= B :", A <= B)   # Subset (can be equal)
print("A >= B :", A >= B)   # Superset (can be equal)

# For completeness, also show when sets are equal
C = {1, 2, 3}
D = {3, 2, 1}

print("\nSet C:", C)
print("Set D:", D)

print("C == D :", C == D)   # True (same elements)
print("C <= D :", C <= D)   # True (equal counts as subset)
print("C < D  :", C < D)    # False (not a proper subset)

Set A: {1, 2}
Set B: {1, 2, 3}

A == B : False
A < B  : True
A > B  : False
A <= B : True
A >= B : False

Set C: {1, 2, 3}
Set D: {1, 2, 3}
C == D : True
C <= D : True
C < D  : False

In [42]:
a={0,False,1,2,3,4,5}
b=set(range(11))
c=set(range(11))
print(a,b,c,sep='\n',end='\n\n\n')
print(id(a),id(b),id(c),sep='       ',end='\n\n\n\n\n')
print(a<=b)
print(a<=c)
print(b<=c)
print(c<=b)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}


4422128576       4422225024       4422225696




True
True
True
True

In [39]:
a={1,2,3,False,3,2,7,4}
b={0,1,2,3,4}
c={False,4,1,4,3,2}
print(a,b,c,sep="\n",end='\n\n\n')
print(a>b)
print(a>c)
print(b>c)

{False, 1, 2, 3, 4, 7}
{0, 1, 2, 3, 4}
{False, 1, 2, 3, 4}


True
True
False

In [36]:
s1={'A',"B","C"}
s2={"X","y",'Z'}
print(s1<=s2)

False

In [43]:
# Define sets
A = {1, 2, 3}
B = {3, 4, 5}
C = {1, 2}
D = {10, 20}

print("Set A:", A)
print("Set B:", B)
print("Set C:", C)
print("Set D:", D)
print()

# 1. Union
print("Union (A | B):", A | B)
print("Union (A.union(B)):", A.union(B))

# 2. Intersection
print("Intersection (A & B):", A & B)
print("Intersection (A.intersection(B)):", A.intersection(B))

# 3. Difference
print("Difference (A - B):", A - B)
print("Difference (A.difference(B)):", A.difference(B))

# 4. Symmetric Difference
print("Symmetric Difference (A ^ B):", A ^ B)
print("Symmetric Difference (A.symmetric_difference(B)):", A.symmetric_difference(B))

# 5. Subset
print("Is C subset of A (C <= A):", C <= A)
print("Is C subset of A (C.issubset(A)):", C.issubset(A))

# 6. Superset
print("Is A superset of C (A >= C):", A >= C)
print("Is A superset of C (A.issuperset(C)):", A.issuperset(C))

# 7. Disjoint
print("Are A and D disjoint (A.isdisjoint(D)):", A.isdisjoint(D))

# 8. In-place Updates
print("\n--- In-place operations on A_copy ---")
A_copy = A.copy()

A_copy.update(B)
print("A_copy after update(B):", A_copy)  # A |= B

A_copy = A.copy()
A_copy.intersection_update(B)
print("A_copy after intersection_update(B):", A_copy)  # A &= B

A_copy = A.copy()
A_copy.difference_update(B)
print("A_copy after difference_update(B):", A_copy)  # A -= B

A_copy = A.copy()
A_copy.symmetric_difference_update(B)
print("A_copy after symmetric_difference_update(B):", A_copy)  # A ^= B

Set A: {1, 2, 3}
Set B: {3, 4, 5}
Set C: {1, 2}
Set D: {10, 20}

Union (A | B): {1, 2, 3, 4, 5}
Union (A.union(B)): {1, 2, 3, 4, 5}
Intersection (A & B): {3}
Intersection (A.intersection(B)): {3}
Difference (A - B): {1, 2}
Difference (A.difference(B)): {1, 2}
Symmetric Difference (A ^ B): {1, 2, 4, 5}
Symmetric Difference (A.symmetric_difference(B)): {1, 2, 4, 5}
Is C subset of A (C <= A): True
Is C subset of A (C.issubset(A)): True
Is A superset of C (A >= C): True
Is A superset of C (A.issuperset(C)): True
Are A and D disjoint (A.isdisjoint(D)): True

--- In-place operations on A_copy ---
A_copy after update(B): {1, 2, 3, 4, 5}
A_copy after intersection_update(B): {3}
A_copy after difference_update(B): {1, 2}
A_copy after symmetric_difference_update(B): {1, 2, 4, 5}

In [53]:
A = {1, 2, 3}
B = {3, 4, 5}
C = {1, 2}
D = {10, 20}
op=set(range(7))
w=A-B
x=B-A
y=A-C
z=C-A
m=A-D
n=D-A
print(w,x,y,z,m,n,sep='\n')
aa=A^B
bb=B^A
cc=A^C
dd=A^op
print(aa,bb,cc,dd)

{1, 2}
{4, 5}
{3}
set()
{1, 2, 3}
{10, 20}
{1, 2, 4, 5} {1, 2, 4, 5} {3} {0, 4, 5, 6}

In [46]:
a={1,2,3,4}
b={3,4,5,6,7}
c=b
a.update(b,c)
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [48]:
# Define base sets
A = {1, 2, 3}
B = {3, 4}
C = {2, 3, 5}

print("Original Sets:")
print("A =", A)
print("B =", B)
print("C =", C)
print("-" * 30)

# 1. update() = union
a1 = A.copy()
abcdefg=a1.update(B, C)  # adds elements from B and C
print("After update(B, C):", a1)  # A |= B | C → {1, 2, 3, 4, 5}

# 2. intersection_update() = intersection
a2 = A.copy()
a2.intersection_update(B, C)  # keeps elements common to all
print("After intersection_update(B, C):", a2)  # A &= B & C → {3}

# 3. difference_update() = difference
a3 = A.copy()
a3.difference_update(B, C)  # removes all elements from B and C
print("After difference_update(B, C):", a3)  # A -= B ∪ C → {1}

# 4. symmetric_difference_update() = symmetric difference
a4 = A.copy()
a4.symmetric_difference_update(B)  # elements in either A or B, but not both
print("After symmetric_difference_update(B):", a4)  # A ^= B → {1, 2, 4}

print('\n\n\n\n\n\n\n\n\n\n',abcdefg)

Original Sets:
A = {1, 2, 3}
B = {3, 4}
C = {2, 3, 5}
------------------------------
After update(B, C): {1, 2, 3, 4, 5}
After intersection_update(B, C): {3}
After difference_update(B, C): {1}
After symmetric_difference_update(B): {1, 2, 4}










 None

<h1>Dictionary

In [2]:
d=dict({1:2,3:4})
print(d,type(d))

{1: 2, 3: 4} <class 'dict'>

In [1]:
d={1:2,2:3}
print(d)

{1: 2, 2: 3}

In [7]:
a=1,'one'
b=(2,'two')
e=[7,'seven']
lt=[a,b,(3,'three'),(4,'four'),7]
d=dict(lt)
d

TypeError: cannot convert dictionary update sequence element #4 to a sequence

In [13]:
l=[1,2,3,4]
d=d.fromkeys(l,None)
print(d)

{1: None, 2: None, 3: None, 4: None}

In [16]:
l=[range(4),'a','b','c']
d=dict.fromkeys(l,'ok')
print(d)
print(d[range(4)])
print(d[9000])

{range(0, 4): 'ok', 'a': 'ok', 'b': 'ok', 'c': 'ok'}
ok

KeyError: 9000

In [17]:
d={1:2,3:4,5:6}
k=d.keys()
v=d.values()
print(k,v,sep='\n')
d[7]=900
print(k,v,sep='\n')

dict_keys([1, 3, 5])
dict_values([2, 4, 6])
dict_keys([1, 3, 5, 7])
dict_values([2, 4, 6, 900])

In [23]:
d={('g',6):1}
print(d)

{('g', 6): 1}

In [24]:
d={1:100,2:"hello"}
d[1]=900
d[3]=9
d[2]=False
print(d)

{1: 900, 2: False, 3: 9}

In [27]:
d={1:'one','A':'a',5.6:7}
print(d)
d.update(((1,2),('o','p')))
print(d)

{1: 'one', 'A': 'a', 5.6: 7}
{1: 2, 'A': 'a', 5.6: 7, 'o': 'p'}

In [1]:
d={1:'one','A':'a',5.6:7,True:'p'}
print(d.keys())
print(d.values())

dict_keys([1, 'A', 5.6])
dict_values(['p', 'a', 7])

In [6]:
d={1:2,False:'🔥', 'a':'n',2.3:4.5}
k=d.keys()
l=d.values()
print(d,k,l,sep='\n')
d['a']='Hello_Hassinaa'
print(d,k,l,sep='\n')
d.update(((9,999),))
print(d,k,l,sep='\n')
ff=d.items()
print(ff)

{1: 2, False: '🔥', 'a': 'n', 2.3: 4.5}
dict_keys([1, False, 'a', 2.3])
dict_values([2, '🔥', 'n', 4.5])
{1: 2, False: '🔥', 'a': 'Hello_Hassinaa', 2.3: 4.5}
dict_keys([1, False, 'a', 2.3])
dict_values([2, '🔥', 'Hello_Hassinaa', 4.5])
{1: 2, False: '🔥', 'a': 'Hello_Hassinaa', 2.3: 4.5, 9: 999}
dict_keys([1, False, 'a', 2.3, 9])
dict_values([2, '🔥', 'Hello_Hassinaa', 4.5, 999])
dict_items([(1, 2), (False, '🔥'), ('a', 'Hello_Hassinaa'), (2.3, 4.5), (9, 999)])

In [7]:
d={1:2,False:'🔥', 'a':'n',2.3:4.5}
del d['paner']

KeyError: 'paner'

In [13]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  2:'B'
}
x=thisdict.popitem()
print(thisdict,x,sep='\n\n')
pop=0

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

(2, 'B')

In [11]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  2:'B'
}
g=thisdict.pop(2)
print(thisdict,g)
thisdict.pop('df')

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964} B

KeyError: 'df'

In [1]:
thisdict={1:'A',2:'B',3:'C'}
for x in thisdict:
  print(x)
for x in thisdict:
  print(thisdict[x])
for x in thisdict.values():
  print(x)
for x in thisdict.keys():
  print(x)
for x, y in thisdict.items():
  print(x, y)

1
2
3
A
B
C
A
B
C
1
2
3
1 A
2 B
3 C

In [2]:
d1={1:None,3:4,5:6}
d2=d1
d3=d1.copy()
print(d2 is d1)
print(d3 is d1)
print(d1==d2)
print(d3 == d1)

True
False
True
True

In [9]:
d1={1:'A',2:False,3:[1,2,3],
    'Jolly':{1:'one',2:'two',3:"three"},
    4:{1,2,2,3,3,4},
    5:range(5),
    range(10,15):'OK'
    }
print(d1[3][::-1])
print(d1[5][3])

[3, 2, 1]
3

In [10]:
d1={1:'A',2:'B'}
d2={'A':'OK', "B":"NO"}
d1.update(d2)
d2.update(d1)
print(d1,d2,sep="\n")
print(d1==d2)
print(d1 is d2)
d1>d2

{1: 'A', 2: 'B', 'A': 'OK', 'B': 'NO'}
{'A': 'OK', 'B': 'NO', 1: 'A', 2: 'B'}
True
False

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [14]:
#count frequency of words in String
s=input().split()
d={}
for x in s:
    if x in d:
        d[x]+=1
    else:
        d[x]=1
print(d)

{'helllo': 2, 'helo': 2, 'i': 3, 'am': 3, 'devang': 2}

In [17]:
#count frequency of characters
x=input()
d={}
s=x.replace(' ','')
for each in s:
    if(each in d):
        d[each]+=1
    else:
        d[each]=1
print(d)

{'a': 2, 'b': 2, 'c': 2, 'd': 2, 'e': 1, 'f': 2, 'g': 4}

In [19]:
#subset string
x1=input().split()
x2=input().split()
s1=set(x1)
s2=set(x2)
if(s1<s2):
    print('s1 is subset of s2')
elif(s1==s2):
    print('both have same words (equal sets)')
else:
    print('s1 is superset of s2')

s1 is superset of s2

<h2>Practice Questions

In [3]:
print(max(1,2))
min(7,4)

2

4

In [4]:
pow(2,3)

8

In [5]:
format(1234567890.123456789, '.2f')  # Output: '1234567890.12'

'1234567890.12'

In [8]:
chr(97)

'a'

In [ ]:
print(15//3)
print(15/3)

5

5.0

In [10]:
print(ord('a'))  # Output: 97

97

In [12]:
print(5*5)
print(5.5*5)

25
27.5

In [13]:
17//3+1.5

6.5

In [16]:
print(chr(65))  # Output: 'A'
print(chr(65+32))  # Output: 'a'

print(chr(66))  # Output: 'B'
chr(66+32)  # Output: 'b'

A
a
B

'b'

In [18]:
print(format(1234567890.123456789, '.2f') )
x=1234567890.123456789
print(f"{x:.2f}")  # Output: '1234567890.12'

1234567890.12
1234567890.12

In [23]:
print(format("hj"))
format("fhj")

hj

'fhj'

In [47]:
import random
x=random.random()
x

0.40738025800217437

In [50]:
val1=input()
# val2=val1+"5"
val2=val1+5

TypeError: can only concatenate str (not "int") to str

In [51]:
a='pqr'
b='def'
print(a*3+b)

pqrpqrpqrdef

In [56]:
print(format(1234567890.123456789, '0.if'))  # Output: '1234567890

ValueError: Format specifier missing precision

In [57]:
print(max(-30,10,-3,27)+min(-30,10,27,-3))

-3

In [60]:
l='y'
chr(ord(l)-34)  # Output: 's'

'W'

In [62]:
x=6
y,z=11,16
print(x,y,z,sep='-',end='!')

6-11-16!

In [63]:
print(format(20.2,">5.0f")+"\\\\")

   20\\

In [66]:
#🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
#🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
print(bool('False'))
print(bool('True'))
print(bool('0'))  # True
print(bool(''))  # False

True
True
True
False

In [70]:
#ORDER MATTERS IN CONDITIONAL STATEMENTS
# 🚨🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨🔥

score = 95

if score >= 60:
    print("Pass")
elif score >= 90:
    print("Excellent")



score = 95
if score >= 90:
    print("Excellent")
elif score >= 60:
    print("Pass")

Pass
Excellent

In [ ]:
x=10
y=3
z=(x**2)%y+x//y+y
z

7

In [76]:
1==True

True

In [77]:
5==True

False

In [78]:
x,y,z=5,10,2
x and (x+y*z==30) and (5!=True)

False

In [80]:
#🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨

python,java,program=6,10,0
if python==java or not program:
    program=1
elif java>python and not python:
    program=2
if program==True:
    print('GATE 2025')
else:
    print('GATE 2026')

GATE 2025

In [ ]:
#🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨
ruby,python,perl=5,6,-1
if (ruby==5):
    perl+=3
elif (python==6):
    perl=4
if(python>0):
    perl-=1
if(ruby<999):
    perl+=1
print(perl)

2

In [ ]:
#🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨
#🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨
#🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨
#🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨

for x in range(8):
    pass
x

7

In [86]:
count=1
while count<=10:
    if count%3==0:
        count+=2
        continue
    print(count,end=' ')
    count+=1

1 2 5 8

In [87]:
for i in range(4):
    for j in range(i):
        print(i+j,end=' ')

1 2 3 3 4 5

In [ ]:
#🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨
#🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨

x=10
while x in range(10,5,-2):
    print('python',end=" ")
    x=x-4

python python

In [92]:
def ruby(java,python,perl):
    return python+ java/perl
lang=ruby(perl=3,python=2,java=6)
print(lang)

4.0

In [94]:
def lan(hindi=7):
    hindi*=2
    return hindi*2
java=lan(lan())
py=lan('ruby!')
print(java, py)

112 ruby!ruby!ruby!ruby!

In [ ]:
def color(grey):
    kitkat=True
    munch=False
    while not munch and kitkat:
        break
        return grey+5
    print(print((10)))

In [102]:
print(print((10)))

10
None

In [97]:
kitkat=True
munch=False
not munch and kitkat

True

In [101]:
def data(work,study,dance,eat):
    return work+study*dance*eat
data(work=5,dance=2,study=2,3)

SyntaxError: positional argument follows keyword argument (949240363.py, line 3)

In [104]:
def gate():
    ds='python'
    csit='dsa'
    return ds
    return csit
sub=gate()
sub

'python'

In [105]:
def friend():
    return 'ABC',"XYZ"
p1,p2=friend()
print(p1, "<3",p2)

ABC <3 XYZ

In [ ]:
def cpount():
    count=0
    for i in range(5):
        count+=1
print(count) # ⚠ ERROR🔥

In [1]:
s="Hello Hossana"
s[0]

'H'

In [7]:
s="hello Hossana"
s.islower()#'''s'''#)

False

In [12]:
s="Hello Hossana"
print(min(s)==max(s))
print(max(s))
print(min(s))

False
s

In [13]:
s="Hello Hossana"
s.substring(0,5)  # Output: 'Hello'

AttributeError: 'str' object has no attribute 'substring'

In [14]:
s="Hello Hossana"
'H' in s

True

In [15]:
s="Hello Hossana"
for i in range(-1,-len(s)-1,-1):
    print(s[i], end=' ')

a n a s s o H   o l l e H

In [16]:
s="Hello Hossana"
s[0:len(s)]==s

True

In [17]:
s="Python Padlo"
new = ""
for char in s:
    new += chr(ord(char) - 3)
print(new)

MvqelkM^ail

In [18]:
s = "SillyPython-561"
result = ""
for char in s:
    if char in str(not s):
        result += "B"
    elif char.isalpha():
        result += char.upper()
    elif char.isdigit():
        result += str(int(char) + 3)
    else:
        result += char
print(result)

SIBBYPYTHON-894

In [19]:
s = "ShakalakaBoom"
result = (s[-len(s):-len(s)+5] + " " + s[-6:])
print(result)

Shaka kaBoom

In [33]:
#🔥🚨🔥🚨🔥🚨🔥🚨🔥🚨
javascript = "doobyD00by"
python = "hurrah732h"
ruby = "+25"

pankaj = (python.islower() and python[999:9999])
neeraj = ruby.isalnum() and ruby.isdigit()
kamal = javascript[6:8].isdigit() and javascript.count("o") == 2

print("Pankaj\n")
print(pankaj)
print("Neeraj")
print(neeraj)
print()
print("Kamal")
print(kamal)

Pankaj


Neeraj
False

Kamal
True

In [35]:
myGateExam = "DataScience" # =)
print(myGateExam[0:1000] * 2)

DataScienceDataScience

In [36]:
alpha, beta = "cast", "dean"
omega = beta[:2] + alpha[2:]
sigma = beta[:len(beta)] + alpha[:3]
print(min(omega, sigma), max(omega, sigma))

deancas dest

In [37]:
#directly convert list to string
def list_to_string(lst):
    return ''.join(lst)
# Example usage
lst = ['H', 'e', 'l', 'l', 'o']     
result = list_to_string(lst)
print(result)  # Output: 'Hello'

Hello

In [40]:
l=list("Hello")
l2=list((4.5,))

In [42]:
lt1=['H', 'e', 'l', 'l', 'o']
lt2=list(('H', 'e', 'l', 'l', 'o'))
lt1+=lt2
lt1

['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [43]:
[x for x in range(0)]
[x**2 for x in range(5) if x % 2 == 0]
[len(item) for item in ["my", "anaconda","don't"]]
[x if x > 0 else -1 for x in range(5)]

[-1, 1, 2, 3, 4]

In [44]:
lt=['H', 'e', 'l',  'o']
lt[:-2]

['H', 'e']

In [45]:
l=['H','e','l','l','o']
l.find('l')  # Output: 2

AttributeError: 'list' object has no attribute 'find'

In [52]:
school = ["pankaj", "neeraj", "kamal"]
school2 = school
school2.append("fill")
print(school)

doubleTrouble = ["july", "john", "tom", "jerry"]
doubleTrouble = doubleTrouble.sort() # Note: The sort() method sorts the list in place and returns None, so we should not assign it back to doubleTrouble
doubleTroubleX = sorted(doubleTrouble)  # Use sorted() to return a new sorted list
print(doubleTrouble)
print(doubleTroubleX)

['pankaj', 'neeraj', 'kamal', 'fill']

TypeError: 'NoneType' object is not iterable

In [60]:
playground = []
clubhouse = ["hockey", "football", "cricket","tennis", "badminton", "cycling"]
for i in range(len(clubhouse)):
    playground += clubhouse[i]
print(playground)

x=[]
for i in range(len(clubhouse)):
    x.append(clubhouse[i])
print(x)

['h', 'o', 'c', 'k', 'e', 'y', 'f', 'o', 'o', 't', 'b', 'a', 'l', 'l', 'c', 'r', 'i', 'c', 'k', 'e', 't', 't', 'e', 'n', 'n', 'i', 's', 'b', 'a', 'd', 'm', 'i', 'n', 't', 'o', 'n', 'c', 'y', 'c', 'l', 'i', 'n', 'g']
['hockey', 'football', 'cricket', 'tennis', 'badminton', 'cycling']

In [65]:
white = ["himmat", "saahas", "budhiman"]
myFavoriteColor = ["himmat", "saahas","buddhiman"]
print(myFavoriteColor is white and white == myFavoriteColor)
print(myFavoriteColor is white)
print(myFavoriteColor == white)#✅ True (same contents)

False
False
False

In [66]:
answer = ["padhlo", "bacho", "rank", "aa jayegi",67]
answer.sort()
print(answer)

TypeError: '<' not supported between instances of 'int' and 'str'

In [68]:
super = ["python"]
name = ["rohit", "dev", "aadi"]
for food in range(len(super)):
    super.append(name[food])
print(super)

['python', 'rohit']

In [ ]:
lst1 = ["Pankaj", "Neeraj"]; lst2 = ["PadhloBeta","GateNikalanaHaiTo"] 
print(min(max(lst1, lst2)))# NOTE: max() and min() will compare the lists lexicographically
(max(lst1, lst2))

Neeraj

['Pankaj', 'Neeraj']

In [73]:
def iChooseYou(pc):
    pc.append("Kamal")
    pc.sort()
faculty = ["Pankaj", "Neeraj"]
iChooseYou(faculty)
print(faculty)

['Kamal', 'Neeraj', 'Pankaj']

In [1]:
queensLists = [["ranilaxmibai"], ["ranidurgavati", "tarabai"],
               ["raziasultan", "padmavati", "gauradevi"]]

result = [homegirl for lst in queensLists for homegirl in lst]
print(result)

['ranilaxmibai', 'ranidurgavati', 'tarabai', 'raziasultan', 'padmavati', 'gauradevi']

In [2]:
inputNums = [13, 17, 25, 28, 10, 30, 21]
myLst = [ [0, 0, 0], [0, 0, 0], [0, 0, 0] ]
for num in inputNums:
    result1 = num % 3
    result2 = (num // 10) % 3
    myLst[result1][result2] += 1
print(myLst)

[[1, 0, 1], [0, 2, 2], [0, 1, 0]]

In [3]:
gate = [["H", "X", "Z", "C"], ["A", "O", "T", "J"], \
["K", "P", "N", "D"], ["L", "M", "U", "K"]]
for i in range(len(gate)):
    for j in range(len(gate)):
        if i == j:
            print(gate[i][j], end = "")

HONK

In [4]:
faculty = [["pankaj", "neeraj"], [1930, 4], ["kamal","shweta", "anjali"]]
print(faculty[-1][-2][0])

s

In [5]:
myNums = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
total = 0
for i in range(len(myNums)):
    for j in range(4):
        if not j % 2:
            total += myNums[i][j]
print(total)

36